body {
    margin: 0;
    padding: 0;
    background-color: #2D1E6B;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


header {
    overflow: hidden; /* to hide the overflow due to the angled div */
}


/* navbar */

#navbar {
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;

}

#logo-container img{
    width: 25px;
    height: 22px;
}

#nav-items {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-weight: 300;

}

#nav-items li {
    cursor: pointer;
}

/* main header */

#main-header {
    display: flex;
    justify-content: flex-end;
    color: white;
    position: relative;
}


#main-header .left {
    position: absolute;
    width: 40%;
    top: 100px;
    left: 10%;
    color: white;
}

#main-header .left .big-text {
    font-size: 70px;
    font-weight: 900;
}





#main-header .left #overview {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
}

#main-header .left #overview .overview-items {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#main-header .left #overview .overview-items h4 {
    font-weight: 700;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
    letter-spacing: 3px;
}

.gradient-text {
    color: #ff00f2
}

#main-header .left #overview .overview-items p {
    margin: 0%;
    padding: 0%;
    font-weight: 300;
}

#main-header .right {
    width: 90%;
    height: 100%;
    z-index: -10;
    mix-blend-mode: color-dodge;
}


#main-header .right img {
    width: 100%;
    height: 105vh;
    margin-top: -11vh;
}


.band {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 100px;
    font-weight: 900;
    font-size: 30px;
    transform: rotate(-3deg);
    color: white;
    border: 1px solid #ffffff40;
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);

}

.band img{
    width: 25px;
    height: 25px;
}



/* main */


/* choose section */
.choose-section {
    /* outline: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0%;
    padding: 0%;
    text-align: center;

}

.choose-section-title {
    font-weight: 900;
    font-size: 40px;
    margin: 0;
}

.section-description {
    width: 500px;
    font-size: 18px;
    font-weight: 100;
}

.choose-section .image-carousel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.image-carousel img{
    width: 400px;
    height: 250px;
}

.image-carousel .center-img{
    width: 600px;
    height: 400px;
}


/* discover section */

.discover-section {
    width: 70%;
    margin: 100px auto;
}

.discover-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border-radius: 7px;
    border: 1px solid #ffffff23;
    background: #35276D;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}

.discover-card img {
    margin-top: -70px;
    width: 50%;
    align-self: self-start;
}


.discover-card-details .big-text {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

/* .discover-card-details p {
    font-weight: 100;
    width: 410px;
} */

.discover-card-details-btn {
    width: fit-content;
    padding: 10px 20px;
    transform: skewX(-20deg);
    border: 1px solid gray;
}



/* demo games section */

.demo-cards-section {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.demo-cards {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.demo-card {
    width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;

    border: 1px solid #ffffff23;
    background: #35276D;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}
.demo-prof-details img{
    width: 40px;
    height: 40px;
}

.demo-card > img{
    width: 100%;
}


.demo-card > h5 {
    margin: 0;
    align-self: start;
    font-size: 20px;
}

.demo-card > .demo-prof-details {
    display: flex;
    gap: 7px;
    align-self: self-start;
}

.demo-card h5,
.demo-card p {
    margin: 0%;
}

.demo-game-btn {
    cursor: pointer;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    transform: rotate(-45deg);
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    background: rgb(45, 30, 107);
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
    margin: 0 10px;
    color: white;
}


/* footer */

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
    padding: 100px 10% 0 10%;
    position: relative;
}

footer>img {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -1;
}

.logo-with-name{ 
    width: 150px;
    height: 40px;
}

.footer-container h4 {
    margin: 0px;
    font-size: 20px;
    font-weight: 700;

}

.footer-container .about-and-links {
    display: flex;
    justify-content: space-between;

}

.footer-container .about-and-links>div {
    width: 22%;
}

.footer-container .about-and-links ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0;
    list-style: none;
}

.footer-container .brands {
    display: flex;
    gap: 50px;
}

.footer-container .brands>img {
    height: 20px;
}






/* common classes */

.gradient-text {
    color: #ff00f2
}


.buttons {
    display: flex;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    cursor: pointer;
    background-color: transparent;
    color: white;

}

.btn1 {
    background: rgb(45, 30, 107);
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}